.text-button {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.text-button a {
    text-decoration: none;
}

.legacyBox {
    margin-bottom: 1rem;
}
