.text-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.text-button a {
    text-decoration: none;
}

.legacyBox {
    margin-bottom: 1rem;
}

.statusBox {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.ajax_response {
    display: none;
}
